.gal-mrsk {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gal-mrsk img,
.gal-mrsk video  {
    align-self: center;
}

.gal-scuk {
    display: flex;
}

.gal-scuk img {
    width: 100%;
}
