.gal-mrsk {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gal-mrsk img,
.gal-mrsk video  {
    align-self: center;
}

.gal-scuk {
    display: flex;
}

.gal-scuk img,
.gal-scuk video {
    width: 100%;
}

.img-compare {
	--splitter-color: var(--md-typeset-a-color);
	--splitter-size: 2px;
	--expand: 0.875rem;
	--handle-size: calc(var(--expand) + var(--splitter-size) * 2);
	position: relative;
}
.img-compare span {
	display: block;
	position: absolute;
	top: 0;
	left: calc(-1 * var(--expand));
	bottom: calc(-1 * var(--expand));
	width: calc(var(--expand) + 50% + var(--splitter-size) / 2);
	max-width: calc(var(--expand) + 100%);
	min-width: var(--handle-size);
	padding-left: var(--expand);
	padding-bottom: var(--expand);
	background: linear-gradient(135deg, transparent 0, transparent 50%, var(--splitter-color) 50%, var(--splitter-color)) 100% 100% / var(--handle-size) var(--handle-size) no-repeat;
	resize: horizontal;
	overflow: hidden;

    box-shadow: var(--splitter-size) 0 0 0 var(--md-default-bg-color);
}
.img-compare img {
	display: block;
	height: 100%;
	user-select: none;
    object-fit: cover;
    object-position: 0;
}
.img-compare > img {
	max-width: 100%;
	height: auto;
}
.img-compare span::after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: var(--expand);
	border-right: var(--splitter-size) solid var(--splitter-color);
    box-shadow: calc(var(--splitter-size) * -1) 0 0 0 var(--md-default-bg-color);
}